<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/chat.css">
</head>
<body>
<div class="layui-body" style="bottom:0;left: 0px">
    <input type="hidden" id="active-user" fid="-1"  th:attr="data-id=${session.user.id},data-name=${session.user.username}"><!-- 当前对话的用户 -->
    <input type="hidden" id="from-user"   from-name="" from-id="-1">
    <div class="chat-left">
        <div class="chat-box laykefu-chat-main">
            <ul th:attr="id='u-'+${session.user.id}" style="display: block" ></ul>
        </div>
        <div class="msg-send">
            <div class="tools-bar">
                <i class="layui-icon" style="font-size: 30px;" id="face">&#xe60c;</i>
                <i class="layui-icon" style="font-size: 30px;" id="image">&#xe60d;</i>
                <i class="layui-icon" style="font-size: 30px;" id="file">&#xe61d;</i>
                <i class="layui-icon layui-icon-close" style="font-size: 10px;float: right;" id="userSession">关闭会话</i>
            </div>
            <div class="msg-box">
                <textarea class="msg-area" id="user-msg-area"></textarea>
            </div>
            <div class="send-area">
                <span style="margin-left:10px;color:gray">快捷键 Enter</span>
                <button class="layui-btn layui-btn-small layui-bg-cyan" style="float:right;margin-right:10px;height: 40px;padding: 0 15px;" id="user-send">
                    <i class="layui-icon">&#xe609;</i>发送
                </button>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../static/js/sockjs.min.js"></script>

<script type="text/javascript" src="../../static/js/mySocket.js"></script>
<script type="text/javascript" src="../../static/layui/layui.js"></script>
<script type="text/javascript" src="../../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../static/js/kefu.js"></script>
<script type="text/javascript" src="../../static/js/functions.js"></script>
<script>
    var socketClient;
    init("customer",$("#active-user").attr("data-name"),$("#active-user").attr("data-id"));
    $(function () {
        // 监听快捷键发送
        document.getElementById('user-msg-area').addEventListener('keydown', function (e) {
            if (e.keyCode != 13) return;
            e.preventDefault();  // 取消事件的默认动作
             sendMessage($("#user-msg-area").val());
        });



        $("#userSession").click(function (e) {
            layui.use(['layer'], function () {
                var data={fromUid:$("#active-user").attr("data-id"),toUid: localStorage.getItem("fromId")};
               var layerIndex = layer.confirm('确定关闭会话' , {
                    title: '关闭提示',
                    closeBtn: 0,
                    icon: 3,
                    btn: ['确定', '取消'] // 按钮
                }, function(){
                    layer.close(layerIndex);
                    var index = parent.layer.getFrameIndex(window.name);
                    socketClient.close(3001,JSON.stringify(data));
                    parent.layer.close(index);
                });
            });
        })


        // 点击表情
        var index;
        $("#face").click(function (e) {
            e.stopPropagation();
            layui.use(['layer'], function () {
                var layer = layui.layer;

                var isShow = $(".layui-laykefu-face").css('display');
                if ('block' == isShow) {
                    layer.close(index);
                    return;
                }
                var height = $(".chat-box").height() - 110;
                layer.ready(function () {
                    index = layer.open({
                        type: 1,
                        offset: [height + 'px', $(".layui-side").width() + 'px'],
                        shade: false,
                        title: false,
                        closeBtn: 0,
                        area: '395px',
                        content: showFaces()
                    });
                });
            });
        });


        // 发送消息
        $("#user-send").click(function () {
            var msg = $("#user-msg-area").val()
            if ('' === msg) {
                layui.use(['layer'], function () {
                    var layer = layui.layer;
                    return layer.msg('请输入回复内容', {time: 1000});
                });
                return false;
            }
            sendMessage(msg);

        });

        // hover用户
        $(".layui-unselect li").hover(function () {
            $(this).find('i').show();
        }, function () {
            $(this).find('i').hide();
        });


        // 检测滚动，异步加载更多聊天数据
        $(".chat-box").scroll(function () {
            var top = $(".chat-box").scrollTop();
        });

    });

</script>
</html>